.footer{
    margin: 0;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #000;
    color: #fff;

}
.footer-head{
    text-align: left;
    font-size: 30px;
}
.footer-para,
.footer-para-2{
    text-align: left;
}

.footer-para{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.footer-bottom{
    display: flex;
    margin-top: -20px;
    margin-bottom: -10px;
}
.footer-icons{
    display: flex;
   margin-left: 25%;
   margin-top: 20px;
   font-size: 15px;
}
.footer-ico{
    color: #ea52c4;
    margin-right: 10px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    margin-top: 20px;

}
.footer-link{
    margin-left: 30px;
    text-decoration: none;
    color: #ea52c4;

}