.project{
    height: 40vw;
    background-color: black;
    color: white;
    font-size: 35px;
    font-weight: 700;
}
.project-section{
padding: 60px;   
}
.project-div{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.project-video{
margin: 20px;
background-color: rgb(32, 35, 46);
border-radius: 10px;
height: 22vw;
transform: scale(1);
transition: transform 0.5s ease-in-out;
}
.project-video:hover{
    transform: scale(1.07);
}
.video{
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}
.project-name{
    font-size: 22px;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

.pro-btn{
    cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 50px;
  font-weight: lighter;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    background: linear-gradient(to right, #ee09b5, #cb26c3, #bb0fe1);
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    border: none;
}
.pro-btn:hover{
   
   transform: scale(1.1);
}
.project-button{
text-decoration: none;
color: #fff;
}